#boton {
	display: block;
	padding: 20px;
	background-color: green;
	color: white;
	width: 200px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid rgb(6, 83, 6);
	transition: border 500ms, background 3s, border-radius 2s;
}

#boton:hover {
	border-radius: 15px;
	background: orangered;
	border: 5px solid red;	
}
