.alert {
    padding: 10px 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    color: white;  
}

.alertPrimary {
    background-color: red;
    border-color: darkred;
}

.alertSecondary {
    background-color: blue;
    border-color: darkblue;
}