/*
 Ejercicio completo con HTML y CSS
 (Hecho) 1. Crear un documento HTML y vincularlo con un CSS
 (Hecho) 2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA,
 		MENU, BARRA LATERAL, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DEL CONTENEDOR PRINCIPAL Y FOOTER.
 3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200 y estar centrado.
 4. Header debe ocupar el 100% del ancho y tener un texto grande centrado.
 5. Menu debe tener los elementos uno al lado del otro
 6. El contenido principal debe tener un ancho del 70%.
 7. El contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de 2 cajas.
 8. La barra lateral debe tener un ancho del 30%.
 9. El footer debe tener un ancho del 100% del div que lo contiene y estar abajo de todo.
*/
#general {
	width: 1200px;
	margin: 0px auto;
}

.border {
	border: 1px solid #ccc;
}

#cabecera, #footer {
	width: 100%;
}
