/*
 Ejercicio completo con HTML y CSS
 (Hecho) 1. Crear un documento HTML y vincularlo con un CSS
 (Hecho) 2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA,
 		MENU, BARRA LATERAL, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DEL CONTENEDOR PRINCIPAL Y FOOTER.
 3. (Hecho) Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200 y estar centrado.
 4. (Hecho)Header debe ocupar el 100% del ancho y tener un texto grande centrado.
 5. (Hecho) Menu debe tener los elementos uno al lado del otro
 6. (Hecho)El contenido principal debe tener un ancho del 70%.
 7. (Hecho)El contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de 2 cajas.
 8. (Hecho)La barra lateral debe tener un ancho del 30%.
 9. (Hecho)El footer debe tener un ancho del 100% del div que lo contiene y estar abajo de todo.
*/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general {
	width: 1200px;
	margin: 0px auto;
	margin-top: 20px;
}

.border {
	border: 1px solid #ccc;
}

#cabecera, #footer {
	width: 100%;
}

#header {
	width: 100%;
	height: 100px;
	background: #D64EA4;
	color: white;
	text-align: center;
	line-height: 90px;
}

#menu ul li {
	/*display: inline-block;*/
	display: block;
	float: left;
	border-right: 1px solid #ccc;
}

#menu {
	background-color: #eeeeee;
}

#menu ul li a {
	display: block;
	color: #444;
	padding: 15px;
}

#menu ul li:hover {
	background-color: #D64EA4;
	cursor: pointer;
}

#menu ul li:hover a {
	color: white;
}

.clearfix {
	float: none;
	clear: both;
}

#contenido {
	width: 69%;
	float: left;
}

#lateral {
	width: 30%;
	float: left;
}

#contenido .caja {
	width: 40%;
	height: 250px;
	background-color: #ccc;
	border: 1px solid gray;
	float: left;
	color: white;
	margin: 20px;
	margin-left: 40px;
	text-align: center;
	line-height: 200px;
	color: black;
	text-transform: uppercase;
	box-shadow: 5px 5px 10px gray;
}

#contenido > h1 {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ccc;
	color: #444;
	text-shadow: 1px 1px 2px gray;
}

footer {
	width: 100%;
	background: #eee;
	text-align: center;
	color: #444;
	height: 55px;
	line-height: 55px;
	border-top: 1px solic #ccc;
}

.sombra-interior {
	box-shadow: 0px 0px 20px gray inset !important;
}
