body {
  background-color: #ccc;
/*  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: right bottom;
*/
  color: black;
  text-align: justify;
  text-indent: 15px;
/*  letter-spacing: 5px;
  word-spacing: 10px;
*/
}

#caja {
  border: 5px solid black;
  padding: 10px;
  background-color: rgb(94, 131, 212);
  font-family: "Open Sans";
  text-align: center;
  color: white;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: line-through;
  vertical-align: top;
}
